[isort]
profile = black
skip = migrations
known_django = django
known_third_party = rest_framework,rest_framework_simplejwt,corsheaders,django_filters
known_first_party = accounts,vehicles,orders
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
line_length = 88